python/lib/config/urls.py
.idea/
env

python/lib/__pycache__
python/lib/config/__pycache__
python/lib/user/__pycache__
python/lib/webapis/__pycache__
python/lib/connexion/__pycache__
python/lib/shotgun/__pycache__
python/lib/weezevent/__pycache__
python/lib/tombola/__pycache__
