body{
	text-align:center;
  font-family: 'Playfair Display', sans-serif;
}

#bouton_accueil{

    margin-left: 40%;
	margin-top:2em;

}
.bouton {
	margin-top:15em;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #79bae5, #2980b9);
  background-image: -moz-linear-gradient(top, #79bae5, #2980b9);
  background-image: -ms-linear-gradient(top, #79bae5, #2980b9);
  background-image: -o-linear-gradient(top, #79bae5, #2980b9);
  background-image: linear-gradient(to bottom, #79bae5, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  width:130px;
  text-decoration: none;
  margin-left:1em;
  margin-top:0.2em;
  transform: translateY(-50%);
 
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #79bae5);
  background-image: -moz-linear-gradient(top, #3cb0fd, #79bae5);
  background-image: -ms-linear-gradient(top, #3cb0fd, #79bae5);
  background-image: -o-linear-gradient(top, #3cb0fd, #79bae5);
  background-image: linear-gradient(to bottom, #3cb0fd, #79bae5);
  text-decoration: none;
}

form {
 background-color:#FAFAFA;
 padding:10px;
 width:280px;
 }
fieldset.a {
	min-height :22em;
	min-width:25em;
 padding:0 20px 20px 20px;
 /*margin-bottom:10px;*/
 border:2px solid #79bae5;
 border-radius:5px;
  margin-right:1em;
  float:left;
  
 }
 fieldset.b {
	 min-height :22em;
	 min-width:25em;
 padding:0 20px 20px 20px;
 /*margin-bottom:10px;*/
 border:2px solid #79bae5;
 border-radius:5px;

 }
legend {
 color:#3498db;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:#79bae5;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #79bae5 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
